# Ignore all filesидщи
*

# Don't ignore git files
!.gitignore

# Don't ignore KiCad files
!*.kicad_pcb
!*.pro
!*.sch

# Don't ignore gerber archive
!gerber/*_github.zip

# Don't ignore view
!view/*/*_bottom_github.png
!view/*/*_top_github.png

# Don't ignore docs
!docs/scheme_*.jpg

# Even if they are in subdirectories
!*/